</div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
<script src="/javascripts/locomotive.js"></script>
<script src="/javascripts/navbar.js"></script>

<script>
    const year = new Date();
    let currentyear = year.getFullYear();
    document.getElementById("year").innerHTML = currentyear;
</script>

